@import "../../variables.scss";
.sales-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80vh;
  display: flex;
  align-items: center;
  background-color: $black;
  overflow: hidden;
  @media (max-width: $mobile-width-1) {
    height: 85vh;
  }
  .card-wrapper {
    display: flex;
    @media (max-width: $mobile-width-1) {
      flex-direction: column;
    }
  }
  .card-img {
    height: 80vh;
    @media (max-width: $mobile-width-1) {
      overflow: hidden;
      height: 70vh;
    }
    img {
      width: 30vw;
      height: 81vh;
      @media (max-width: $mobile-width-1) {
        height: 70vh;
        width: 90vw;
      }
    }
  }
  .card-text {
    margin-left: 4vw;
    @media (max-width: $mobile-width-1) {
      margin: 2vh 0;
    }
    h1 {
      font-size: 2.5vw;
      font-weight: 400;
      text-transform: uppercase;
      @media (max-width: $mobile-width-1) {
        font-size: 7vw;
        font-weight: 600;
      }
    }
    p {
      margin-top: 4vh;
      line-height: 4vh;
      font-size: 1.1vw;
      letter-spacing: 1px;
    }
    h2 {
      display: flex;
      flex-direction: column;
      margin: 10vh 0;
      @media (max-width: $mobile-width-1) {
        margin: 2vh 0;
        flex-direction: row;
        align-items: center;
        gap: 2vw;
      }
      span {
        font-weight: 400;
        text-decoration: line-through;
        color: rgba(218, 218, 218, 0.849);
        font-size: 1.7vw;
        @media (max-width: $mobile-width-1) {
          font-size: 5vw;
        }
      }
      strong {
        font-weight: 600;
        font-size: 3vw;
        @media (max-width: $mobile-width-1) {
          font-size: 5vw;
        }
      }
      i {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgba(218, 218, 218, 0.849);
        @media (max-width: $mobile-width-1) {
          font-size: 5vw;
        }
      }
      .card-mob-btn {
        transform: rotate(-90deg);
        width: 11vw;
        height: 11vw;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $white;
        svg {
          color: $black;
          font-size: 7vw;
          object-fit: unset;
          object-position: unset;
          vertical-align: unset;
        }
      }
    }
    .cta-btns {
      margin-top: 10vh;
      button {
        transition: all 0.3s ease-out;
        font-family: inherit;
        font-size: 1.1vw;
        font-weight: 700;
        padding: 1.4vh 0;
        width: 12vw;
        border: 2px solid $white;
        cursor: pointer;
        &:active {
          color: $black;
          background-color: $white;
          box-shadow: $drop-shadow;
        }
        @media (hover: hover) {
          &:hover {
            color: $black;
            background-color: $white;
            box-shadow: $drop-shadow;
          }
        }
      }
      .cta-cart {
        background-color: $white;
        color: $black;
        margin-right: 2vw;
      }
      .cta-buy {
        background: none;
        color: $white;
      }
    }
  }
}
